body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Segoe UI', "Ubuntu";
    font-size: 20px;
}

a {
    text-align: center;
    display: block;
    color: white;
    font-family: 'Segoe UI', 'Ubuntu';
    font-size: 15px;
}

h4 {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', 'Ubuntu';
}